body {
    background-position: center;
    text-align: center;

}
h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
    background: purple;
    border-color: black;
    border-style: dotted;
    border-radius: 10px;
    border-width: 5px;
}

#reset-game {
    color: black;
    background: url('https://i.imgur.com/Yia2mRO.jpg');
    border-radius: 8px;
    padding: 10px;
}



#s0, #s1, #s2, #s3, #s4,
#s5, #s6, #s7, #s8 {
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;

}
