body {
    background-position: center;
    text-align: center;
    background-image: url('https://i.imgur.com/xmlXIG0.jpg?1');
    background-size: 2100px;
    background-position: center;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
   
}

h2 {
    font-size: 30px;
}

#reset-game {
    color: black;
    background: url('https://i.imgur.com/Yia2mRO.jpg');
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

#square {
    width: 80px;
    height: 70px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

}
